#signoutButton {
  float:right;
  margin-right: 20px;
    margin-top: -50px;
}

#signinButton {
  display: flex;
  justify-content: center;
}

.signinNote {
 text-align: center;
}

#button-wrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  margin-left: 10px;
  margin-bottom: 10px;
}

.App-footer {
  text-align: center;
}
