h2 {
    font-weight: 400;
}

.faculty-main {
    background-color: #f3e3f7;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    border-radius: 7px;
    min-height: 60px;
    height: 60px;
    min-width: 700px;
}

.facultyCourses {
    margin: 10px 0px 10px 20px;
    padding: 20px;
}

.yourCourses {
    margin-left: 30px;
}

#cards, .wrapper {
    display: flex;
    max-width: 2000px;
    flex-wrap: wrap;
}

.dashboard {
    font-weight: 500;
}


.create-course {
    float: left;
    margin-left: 30%;
}

.create-question {
    float: right;
    margin-right: 30%;
}

.create-course Button, .create-question Button {
    font-size: 20px;
    background-color: white;
    font-family: roboto;
    color: black;
    border-radius: 10px;
}

.create-course Button:hover, .create-question Button:hover {
    background-color: lightgrey;
}

.button-text {
    padding-left: 10px;
    margin: 0;
}

.course-card {
    width: 250px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #f3e3f7;
    border-radius: 20px;
}

#card-font {
    font-size: 18px;
}