.student-head {
    display: inline-block;
}

.wrapper {
    /* text-align: center; */
    /* margin-top: -30px; */
}

.student-main {
    background-color: #BED9B6;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    border-radius: 7px;
    min-height: 300px;
}

.dashboard {
    margin-top: -50px;
    margin-left: 60px;
}

.MuiInputLabel-animated-48 {
    color:white;
}

.select > .MuiInputLabel-animated-48 {
    color:white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.select > .MuiSelect-selectMenu-62 {
    min-width: 40px;
    width: 400px;
}

.MuiSelect-selectMenu-62 {
    width: 400px;
}

.drop-down {
    min-width: 200px;
}

.select-label {
    color:white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.quiz-card {
    width: 250px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.MuiDialog-paperWidthSm-116 {
    min-width: 600px;
}